.myCar {
    color: #e00e0e;
    background-color: aliceblue;
    font-family: 'Agency FB', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    /* text-transform: uppercase; */
    text-align: center;
}
#vignette{
    background-color: red;
}
.red{
    background-color: red; 
}
.white{
    backgroundColor: white; 
}