/* Login.css */

#login-page {
    background-color: #4a3a56;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .brand-logo {
    height: 100px;
    width: 100px;
    background: url("../images/page4-img3.jpg");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
  
  h1 {
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .field {
    text-align: center;
  }
  
  .field a {
    color: #007bff;
    text-decoration: none;
  }
  
  .field a:hover {
    text-decoration: underline;
  }
  